<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/" target="_blank" class="navbar-brand">Task test</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <router-link :to="{name:'home'}" class="nav-link">Home</router-link>
                    </li>
                    <li v-if="!user.id" class="nav-item">
                        <router-link :to="{name:'login'}" class="nav-link">Login</router-link>
                    </li>
                    <li v-if="!user.id" class="nav-item">
                        <router-link :to="{name:'register'}" class="nav-link">Register</router-link>
                    </li>
                </ul>
                <div v-if="user.id" class="ml-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ user.name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" @click="logout">(Logout)</a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="mt-3 py-5">
            <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <router-link to="/" class="nav-item nav-link">Tasks List</router-link>
                        <router-link to="/create" class="nav-item nav-link">Create Task</router-link>
                    </div>
                </div>
            </nav>

            <router-view></router-view>
            </div>
        </main>
    </div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name:"dashboard-layout",
    mounted() {
        setInterval(() => {
            this.user = this.$store.state.auth.user
        },1000)
        },
    data(){
        return {
            user:this.$store.state.auth.user
        }
    },
    methods:{
        ...mapActions({
            signOut:"auth/logout"
        }),
        async logout(){
            await axios.post('/logout').then(({data})=>{
                this.signOut()
                this.$router.push({name:"login"})
                //window.location = '/'
            })
        }
    }
}
</script>
