<template>
    <div>
        <h3 class="text-center">Create Task</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addTask">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="task.name">
                    </div>
                    <div class="form-group">
                        <label>Detail</label>
                        <input type="text" class="form-control" v-model="task.detail">
                    </div>
                    <button type="submit" class="btn btn-primary" :disabled="processing">
                        {{ processing ? "Please wait" : "Create" }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            task: {},
            processing:false
        }
    },
    methods: {
        addTask() {
            this.processing = true
            this.axios
                .post('/api/tasks', this.task)
                .then(response => (
                    this.$router.push({ name: 'home' })
                ))
                .catch(({response:{data}})=> {
                    alert(data.message)
                })
                .finally(() => this.processing = false)
        }
    }
}
</script>
