<template>
    <div>
        <h3 class="text-center">Edit Task</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updateTask">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="task.name">
                    </div>
                    <div class="form-group">
                        <label>Detail</label>
                        <input type="text" class="form-control" v-model="task.detail">
                    </div>
                    <button type="submit" class="btn btn-primary" :disabled="processing">
                        {{ processing ? "Please wait" : "Update" }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            task: {},
            processing:false
        }
    },
    created() {
        this.axios
            .get(`/api/tasks/${this.$route.params.id}`)
            .then((res) => {
                this.task = res.data;
            });
    },
    methods: {
        updateTask() {
            this.processing = true
            this.axios
                .patch(`/api/tasks/${this.$route.params.id}`, this.task)
                .then((res) => {
                    this.$router.push({ name: 'home' });
                }).catch(({response:{data}})=> {
                        alert(data.message)
                    }).finally(() => this.processing = false);
        }
    }
}
</script>
