<template>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card shadow sm">
                    <div class="card-body">
                        <h1 class="text-center">Register</h1>
                        <hr/>
                        <form action="javascript:void(0)" @submit="register" class="row" method="post">
                            <div class="form-group col-12">
                                <label for="name" class="font-weight-bold">Name</label>
                                <input type="text" name="name" v-model="user.name" id="name" placeholder="Enter name" class="form-control">
                            </div>
                            <div class="form-group col-12">
                                <label for="email" class="font-weight-bold">Email</label>
                                <input type="text" name="email" v-model="user.email" id="email" placeholder="Enter Email" class="form-control">
                            </div>
                            <div class="form-group col-12">
                                <label for="password" class="font-weight-bold">Password</label>
                                <input type="password" name="password" v-model="user.password" id="password" placeholder="Enter Password" class="form-control">
                            </div>
                            <div class="form-group col-12">
                                <label for="password_confirmation" class="font-weight-bold">Confirm Password</label>
                                <input type="password" name="password_confirmation" v-model="user.password_confirmation" id="password_confirmation" placeholder="Enter Password" class="form-control">
                            </div>
                            <div class="form-group col-12 my-2">
                                <vue-recaptcha v-show="showRecaptcha" :sitekey="sitekey"
                                               size="normal"
                                               theme="light"
                                               hl="ru"
                                               :loading-timeout="loadingTimeout"
                                               @verify="recaptchaVerified"
                                               @expire="recaptchaExpired"
                                               @fail="recaptchaFailed"
                                               @error="recaptchaError"
                                               ref="vueRecaptcha">
                                </vue-recaptcha>
                            </div>
                            <div class="col-12 mb-2">
                                <button type="submit" :disabled="processing" class="btn btn-primary btn-block">
                                    {{ processing ? "Please wait" : "Register" }}
                                </button>
                            </div>
                            <div class="col-12 text-center">
                                <label>Already have an account? <router-link :to="{name:'login'}">Login Now!</router-link></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import vueRecaptcha from 'vue3-recaptcha2';
import { mapActions } from 'vuex'

export default {
    name:'register',
    components: {vueRecaptcha },
    mounted() {
        //useRecaptchaProvider()
        this.loadingPage = false
    },
    data(){
        return {
            showRecaptcha: true,
            loadingTimeout: 30000, // 30 seconds
            sitekey: '6LeEqgspAAAAAAXCKpNbub9Jp67XLKQlf56PCeqZ',
            user:{
                name:"",
                email:"",
                password:"",
                password_confirmation:"",
                recaptcha: '',
            },
            processing:false,
            loadingPage: true,
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/login'
        }),
        recaptchaVerified(recaptchaToken) {
            this.user.recaptcha = recaptchaToken
            this.validateCaptcha = true
        },
        recaptchaExpired() {
            this.$refs.vueRecaptcha.reset();
        },
        recaptchaFailed() {
        },
        recaptchaError(reason) {
        },
        async register(){
            this.processing = true
            this.loadingPage = true
            await axios.post('/register',this.user).then(response=>{
                this.loadingPage = false
                this.recaptchaExpired()
                this.signIn()
            }).catch(({response:{data}})=>{
                this.loadingPage = false
                alert(data.message)
            }).finally(()=>{
                this.processing = false
            })
        }
    }
}
</script>
